*{
    margin:0;
    padding:0;
}

body{
    background-color:#88D18A;
    margin: 0vim;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;

}

.container{
    height:80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F0B7B3;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 9vmin;
    color: aqua;
    background-color: #6A5B6E;
}

#reset{
    color: #A833B9;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);

}

#newGame{
    color: #A833B9;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);

}

#msg{
    font-size: 5vmin;
    margin: 0.5rem 0 1rem;
    font-size: 1.4rem;
    color: red;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}


.win {
  background-color: #4caf50;
  color: white;
  animation: winPulse 0.8s ease-in-out infinite alternate;
}

/* animation */
@keyframes winPulse {
  from {
    transform: scale(1);
    box-shadow: 0 0 10px #4caf50;
  }
  to {
    transform: scale(1.08);
    box-shadow: 0 0 25px #4caf50;
  }
}
